<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jake Williams">

        <title><%= title %> | blog.110399.xyz</title>
        <style>
            body {
                font-family: 'Baskerville', serif;
            }

            h2 {
                font-weight: lighter;
            }

            header {
                margin: 20px;
            }

            a:visited {
                color: blue;
            }

            #blog {
                width: 80vw;
                height: auto;
                margin: 0 auto;
            }

            ul#cats {
                display: inline-block;
            }

            ul#cats li {
                float: left;
                margin: 0 10px 0 0;
                list-style-type: none !important;
            }

            li {
                list-style-type: '>';
                transition: all 0.25s ease;
            }

            li:hover {
                margin-left: 10px;
            }

            .post {
                display: block;
                margin: 5px 0 10px 10px;
                color: blue;
            }

            main {
                font-size: 14pt;
                line-height: 25pt;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/">Home</a>
        </header>