<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jake Williams">

        <title><%= title %> | blog.110399.xyz</title>
        <style>
            body {
                font-family: 'Baskerville', serif;
            }

            header {
                margin-bottom: 20px;
            }

            a:visited {
                color: blue;
            }

            .post {
                display: block;
                margin: 5px 0 10px 0;
                color: blue;
                transition: all 0.25s ease;
            }

            .post:hover {
                margin-left: 10px;
            }

            main {
                font-size: 14pt;
                line-height: 25pt;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/">Home</a>
        </header>