<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jake Williams">

        <title>blog.110399.xyz</title>
        <style>
            body {
                font-family: 'Courier New', Courier, monospace;
            }

            header {
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/">Home</a>
        </header>