<%- include('partials/header.ejs') %>
    <div id="blog">
      <% if (posts !== []) { %>
        <h2>Posts:</h2>
        <ul>
          <% for (post of posts) { %>
            <li>
              <a  class="post" href="/posts/<%= post.slice(0, -3) %>">
                <%= data[post].category + ': ' + data[post].title.toUpperCase() %>
              </a>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <p>No posts yet!</p>
      <% } %>
    </div>
<%- include('partials/footer.ejs') %>